.page-container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../assets/images/food photo.jpg');
  background-size: cover;
  background-position: center;
}

.page-container.signin-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../assets/images/meal6.jpg');
}

.page-container .form-container a{
  color:#343A40;
}

.form-container{
  padding:150px 80px;
  height: 100%;
  width:40%;
  font-size: 0.9em;
}

.page-content{
  width:60%;
}

.page-container{
  padding:0;
}

.signup-call,
.signin-call{
  padding: 20px;
  font-size: 1.2em;
  margin-top:20vh;
}

.form-control{
  margin: 12px 0;
}

.signup-form label,
.signin-form label,
.new-meal-form label{
  display: block;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form .btn,
.signin-form input,
.signin-form .btn,
.new-meal-form input,
.new-meal-form .btn,
.new-meal-form textarea{
  border-radius: 3px;
  padding: 10px;
  width: 70%;
}

.signup-form input,
.signin-form input,
.new-meal-form input{
  border: 1px solid #ddd;
}

.forgot-pass-link{
  margin:10px 0;
}

.new-meal-form{
  width: 40%;
}

.new-meal-form input,
.new-meal-form .btn,
.new-meal-form textarea{
  width: 100%;
}
