/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header{
  height: 40vh;
  width:100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/food photo.jpg');
  background-size: cover;
  background-position: center;
  /* background: rgba(17,25,35, 0.5); */
}

section{
  padding: 20px 0;
}

.hero-search{
  padding: 10px 10px 10px 50px;
  width: 40%;
  font-size: 1em;
  background-position: 15px 10px;
}

/* ----------------------------------------------- */
/* PAGINATION */
/* ----------------------------------------------- */
.pagination{
	border-top:1px solid #cdcdcd;
  padding: 40px 0;
  margin-top: 20px;
}

 /* Pagination links */
.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    color: #1d1d20;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active{
  border: 1px solid #1d1d20;
}

.pagination a:hover:not(.active){
  border-bottom: 1px solid #1d1d20;
}

/* ----------------------------------------------- */
/* TABLES */
/* ----------------------------------------------- */
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 5px 15px;
  text-align: left;
  vertical-align: baseline;
}

.order-table tr,
.cart-table tr,
.order-summary table tr{
  border-bottom: 1px solid #ddd;
}

.order-summary table tr th{
  padding-left: 5px;
  padding-right: 15px;
}

.order-table tr:last-child, .cart-table tr:last-child{
  border-bottom: 0;
}

.cart-table tr td.item{
  width: 40%;
}

table .order-info{
  border: 0 !important;
}

.order-summary{
  border-right: 1px solid #ddd;
  padding: 10px 5px;
}

.order-summary table tr td{
  padding: 5px;
}

.order-summary .user-details tr td{
  width: 150px !important ;
}

.card .order-summary table{
  margin: 0 !important;
}

.delivery-form .info{
  font-size: 0.9em;
}

.delivery-details{
  padding-left: 100px;
  margin-bottom: 20px;
}
